<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ui.CollarTestApplication"
        android:label="@string/collar_name">
        <activity
            android:name=".ui.presentation.CollarActivity"
            android:exported="true"
            android:label="@string/collar_name"
            android:theme="@style/Collar.Theme" />
    </application>

</manifest>
